# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment and secrets
.env
INTERVIEW_PREP.md

# Storage and SQLite Databases
storage/
certificates/
*.db
*.sqlite
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
